extends layout

block content

  h2 New post
  form(action='/tweet', method="post")
    .form-group
      label(for='text') Post:
      input#email.form-control(type='text', placeholder='Type anything!', name='tweet')
   
    button.btn.btn-primary(type='submit') Post