extends layout

block content 
    form.w3-container(action='/createProfile', method='post')
        h2 Profile page
        h4 Create profile
        p
        label Phone number:
        input.w3-input(type='number', name="phoneNumber")
        p
        label Location:
        input.w3-input(type='text', name="location")
        p
        label Age:
        input.w3-input(type='number', name="age")
        p
        input(type='submit', value='Save Profile')
    each images in image
        img(src=images)
    